.header {
    position: fixed;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 15px 15px 5px 15px;
    gap: 10px;
    align-self: stretch;

    background: #5F5F5F;
}

.headerTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;

    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headerBtns {
    display: flex;
    align-items: center;
    gap: 5px;
}