* {
    box-sizing: border-box;
}

body {
    background: #5F5F5F;
}

.page {
    display: flex;
    width: 400px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background: #5F5F5F;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.btn {
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px;

    border-radius: 25px;
    background: #F8F8F8;
}