.task {
    display: flex;
    padding: 0px 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.taskTitle {
    display: flex;
    padding: 0px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.taskForm {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    outline: none;

    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.taskTime {
    display: flex;
    padding: 0px;
    align-items: center;
    gap: 10px;

    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}