.task {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.taskTitle {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.taskTime {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}